in chart_detail.html in acacia/templates/data:
	<script>
		function fetchSeries() {
		    $.ajax({
			    url: '/data/get/chart/{{chart.id}}',
			    datatype: "json",
 			    beforeSend: function(hdr) {
 				  	var chart = $('#container').highcharts();
 			    	chart.showLoading("Gegevens ophalen...");
 			    	return true;
 			    },
			    success: function(data) {
				  	var chart = $('#container').highcharts();
				  	$.each(data,function(key,values) {
				  		var series = chart.get(key);
						series.setData(values);
				  	});
			    },
			    error: function(hdr,status,errorThrown) {
			    	//alert("Fout tijdens laden van tijdreeks: " + errorThrown);
			    },
 			    complete: function(hdr, status) {
 				  	var chart = $('#container').highcharts();
 			    	chart.hideLoading();
 			    }
		    });
		}
		
		$(function () {
		  var opt = {{options|safe}};
		  opt.chart.events.load = fetchSeries;
		  chart = $('#container').highcharts(opt);
		});
	</script>



























<script>
/*
1	RNM		rect1308

2	RN0		rect5178-7-1-8-9-9-0-1-61-9-1
3	RN0.5	rect5178-7-1-8-9-9
4	RN1		rect5178-7-1-8-9-9-0

5	RN2		rect5178-7-1-8-9-9-0-1
6	R3		rect5178-7-1-8-9-9-0-1-1
7	RO2		rect5178-7-1-8-9-9-0-1-5

8	RO1		rect5178-7-1-8-9-9-0-1-6
9	RO0.5	rect5178-7-1-8-9-9-0-1-61
10	RO0		rect5178-7-1-8-9-9-0-1-61-9

11	ROM		rect1308-8

12	POM		rect1308-0

13	PO0		rect5178-7-1-8-9-9-0-1-61-9-1-7
14	PO0.5	rect5178-7-1-8-9-9-2
15	PO1		rect5178-7-1-8-9-9-0-2

16	PO2		rect5178-7-1-8-9-9-0-1-59
17	P3		rect5178-7-1-8-9-9-0-1-1-9
18	PN2		rect5178-7-1-8-9-9-0-1-5-4

19	PN1		rect5178-7-1-8-9-9-0-1-6-9
20	PN0.5	rect5178-7-1-8-9-9-0-1-61-1
21	PN0		rect5178-7-1-8-9-9-0-1-61-9-7

22	PNM		rect1308-8-4
*/
function test2() {
    setHeight("rect5178-7-1-8-9-9",-1.5*Math.random());
    setHeight("rect5178-7-1-8-9-9-0",-1.5*Math.random());
    setHeight("rect5178-7-1-8-9-9-0-1",-1.5*Math.random());
}

function test3() {
    var rectangle = SVG.getElementById("rect5178-7-1-8-9-9");
    rectangle.y.baseVal.value -= 1;
    rectangle.height.baseVal.value += 1;
}
</script>

  













https://stackoverflow.com/questions/5966385/update-svg-dynamically
https://stackoverflow.com/questions/17161631/how-to-create-a-new-anchor-tag-around-an-existing-element






PRINT METHODS OF A JAVASCRIPT OBJECT:
<script>
function getMethods(obj) {
	  var result = [];
	  for (var id in obj) {
	    try {
	      if (typeof(obj[id]) == "function") {
	        result.push(id + ": " + obj[id].toString());
	      }
	    } catch (err) {
	      result.push(id + ": inaccessible");
	    }
	  }
	  return result;
	}

alert(getMethods(b).join("\n"));
</script>






HTML5 CANVAS:
<div>
	<canvas id="myCanvas" width="200" height="100"></canvas> 
	
	<script>
		var c = document.getElementById("myCanvas");
		var ctx = c.getContext("2d");
		ctx.beginPath();
		ctx.arc(95,50,40,0,2*Math.PI);
		ctx.stroke(); 
	</script>
</div>




KLIKBAAR PLAATJE:
<div style="background:orange;">
	<h1>Klikbaar plaatje</h1>
	<img src="{% static 'flevoland/img/flevolandkikker.jpg' %}" alt="Waar is de kikker?" usemap="#kikker">
	<img id="anderplaatje" src="{% static 'flevoland/img/flevolandkikker.jpg' %}" alt="Waar is de kikker?">

	<map name="kikker">
	    <area alt="Links" title="Links" href="http://www.google.nl" coords="426,157,451,146,470,129,480,90,481,66,458,56,427,52,405,68,388,96,387,122,398,148" shape="poly" onmouseover="test();">
	    <area alt="Rechts" title="Rechts" href="https://www.image-map.net/" coords="490,73,482,124,500,143,525,151,565,141,577,112,563,79,539,65,509,63" shape="poly" onmouseover="test2();">
	</map>
</div>
	
WIJZIG PLAATJE:
<div>
	<script>
		function test() {
			document.getElementById("anderplaatje").src = "{% static 'acacia/img/acacia_institute.png'%}";
		}
		function test2() {
			document.getElementById("anderplaatje").src = "{% static 'flevoland/img/flevolandkikker.jpg' %}";
		}
	</script>
</div>