{% extends 'locatie.html' %}
{% load staticfiles %}
{% load l10n %}
{% block script %}
  {{ block.super }}
  <script src="{% static 'flevoland/highcharts-toggle.js' %}"></script>
{% endblock script %}

{% block content %}

<script> 
function setToggles() {
    {% localize off %}
    {% for pks_dict in pks %}
    	RectEditor.setToggle("{{pks_dict.id}}",function() {addData("/data/get/series/{{pks_dict.pk}}","{{pks_dict.name}}",0)});
    {% endfor %}
    {% endlocalize %}
}

 function initializeRectangles() {
     var now = new Date();
     most_recent_rectangle_data = {
         "date": now.toISOString().split('T')[0],
         "values": [
             {% localize off %} 
             {%for data_dict in data %} 
             {
                 "id": "{{data_dict.id}}",
                 "date": "{% localize on %}{{data_dict.date}}{% endlocalize %}",
                 "val": {{data_dict.val}},
                 "op": {{data_dict.op}} 
             },
             {% endfor %}
             {% endlocalize %}
         ]
     };
     RectEditor.initialize("includedSVG", "{{object.SVG_metadata.rectangle1_id}}", "{{object.SVG_metadata.rectangle2_id}}", most_recent_rectangle_data);
 }
 
 function onSVGLoad() {
     initializeRectangles();
     setToggles();
     loadPrecipitation('/data/get/series/{{neerslag.pk}}');
 }
</script>

<div class = "container">
  <h2>{{object.projectlocatie.name}}</h2>
  
  
{{ Top | safe }}
  
  <embed id="includedSVG" src="{% static object.SVG_metadata.svg_file_name %}" width="100%" type="image/svg+xml" onload="onSVGLoad();"/>
  <div id="chart-container" style="width:100%;"></div>
  
{{ Bottom | safe }}

</div>

{% endblock content %}