<canvas id="myCanvas" width="200" height="100"></canvas> 

<script>
	var c = document.getElementById("myCanvas");
	var ctx = c.getContext("2d");
	ctx.beginPath();
	ctx.arc(95,50,40,0,2*Math.PI);
	ctx.stroke(); 
</script>





<div style="background:orange;">
	<h1>Klikbaar plaatje</h1>
	<img src="{% static 'flevoland/img/flevolandkikker.jpg' %}" alt="Waar is de kikker?" usemap="#kikker">
	<img id="anderplaatje" src="{% static 'flevoland/img/flevolandkikker.jpg' %}" alt="Waar is de kikker?">

<script>
	function test() {
		document.getElementById("anderplaatje").src = "{% static 'acacia/img/acacia_institute.png'%}";
	}
	function test2() {
		document.getElementById("anderplaatje").src = "{% static 'flevoland/img/flevolandkikker.jpg' %}";
	}
</script>

<map name="kikker">
    <area alt="Links" title="Links" href="http://www.google.nl" coords="426,157,451,146,470,129,480,90,481,66,458,56,427,52,405,68,388,96,387,122,398,148" shape="poly" onmouseover="test();">
    <area alt="Rechts" title="Rechts" href="http://www.bing.nl" coords="490,73,482,124,500,143,525,151,565,141,577,112,563,79,539,65,509,63" shape="poly" onmouseover="test2();">
</map>

</div>