{% extends 'bootbase.html' %}
{% load staticfiles %}
{% load l10n %}
{% block title %}Locatie {{object.projectlocatie.name}}{% endblock title %}
{% block navbar %}{% endblock %}
{% block admin_url %}data/meetlocatie/{{object.id}}{% endblock %}
{% block script %}
  {{ block.super }}
  <script src="{% static 'flevoland/rect-editor.js' %}"></script>
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'flevoland/date-picker.js' %}"></script>
  
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="{% static 'flevoland/highcharts-neerslag.js' %}"></script>
{% endblock script %}

{% block content %}

<script>
 function setValues(data) {
	 RectEditor.setRectangles(data);
     var date = new Date(data.date);
     setTimeAxis(date);
     $("#datepicker").datepicker("setDate", date);
     $("#datepicker").datepicker("refresh");
 }
 
 function setURLs() {
     {% localize off %}
     {% for url_dict in urls %}
     	RectEditor.setURL("{{url_dict.rectangle_id}}", "{{url_dict.url}}");
     {% endfor %} 
     {% endlocalize %}
 }
 
 function initializeRectangles() {
     var now = new Date();
     most_recent_rectangle_data = {
         "date": now.toISOString().split('T')[0],
         "values": [
             {% localize off %} 
             {%for data_dict in data %} 
             {
                 "id": "{{data_dict.id}}",
                 "date": "{% localize on %}{{data_dict.date}}{% endlocalize %}",
                 "val": {{data_dict.val}},
                 "op": {{data_dict.op}} 
             },
             {% endfor %}
             {% endlocalize %}
         ]
     };
     
     RectEditor.initialize("includedSVG", "{{object.SVG_metadata.rectangle1_id}}", "{{object.SVG_metadata.rectangle2_id}}", most_recent_rectangle_data);
     setURLs();
 }

 
 
 function getJSONofDate(date, success) {
	 var d = new Date();
	 var querystringToday = "date=" + d.toISOString().split('T')[0];
     var querystring = "date=" + date.toISOString().split('T')[0];
	 if ((date > d) || (querystringToday == querystring)) {
		 success(most_recent_rectangle_data);
		 return;
	 }
     $.getJSON("{% url 'history' object.id %}", querystring, success);
 }

 var daysBack = 1;
 function prefetchData() {
	 if (daysBack >= 31) {
		 return;
	 }
	 else {
		 var date = new Date();
		 date.setDate(date.getDate() - daysBack);
		 getJSONofDate(date, prefetchData);
		 daysBack += 1;
	 }
 }
 
 
 
 function onSVGLoad() {
	 loadPrecipitation('/data/get/series/{{neerslag.pk}}');
     initializeRectangles();
     getDatePicker("#datepicker").on("change", function(e) {
         var pickedDate = $(this).val();
         var date = new Date(pickedDate);
         getJSONofDate(date, setValues);
     });

     document.getElementById("back-button").onclick = function onclick(evt) {
         var date = RectEditor.getDate();
         date.setDate(date.getDate() - 1);
         getJSONofDate(date, setValues);
     };
     document.getElementById("forward-button").onclick = function onclick(evt) {
         var date = RectEditor.getDate();
         date.setDate(date.getDate() + 1);
         getJSONofDate(date, setValues);
     };
     
     prefetchData();
 }
</script>

<div class = "container">
  <h2>{{object.projectlocatie.name}}</h2>

{{ Top | safe }}
  
  <hr style='clear: left;'>
  
  <div style='text-align:center;'>
	  <button id="back-button" class="btn btn-default btn-lg">&#8592;</button>
	  <input type="button" class="btn btn-default btn-lg" id="datepicker">
	  <button id="forward-button" class="btn btn-default btn-lg">&#8594;</button>
  </div>
  
  <div id="chart-container" style="width:100%;"></div>
  
  <embed id="includedSVG" src="{% static object.SVG_metadata.svg_file_name %}" width="100%" type="image/svg+xml" onload="onSVGLoad();"/>

  <hr style='clear: left;'>
  <a href="{% url 'detail1' object.id %}" style="margin: 20px">Grafieken</a>
  <a href="{% url 'detail2' object.id %}" style="margin: 20px">Waterbalans</a>
  <hr style='clear: left;'>
  
  {{object.description|safe}}
</div>

{% endblock content %}
