{% extends 'bootbase.html' %}
{% load staticfiles %}
{% load l10n %}
{% block title %}Locatie {{object.name}}{% endblock title %}
{% block navbar %}{% endblock %}
{% block admin_url %}data/project/{{object.id}}{% endblock %}

{% block content %}

<script>  
  function globals() {
	SVG = document.getElementById("includedSVG").getSVGDocument();
	var rectangle = SVG.getElementById("rect5178-7-1-8-9-9");
	base1 = rectangle.y.baseVal.value + rectangle.height.baseVal.value;
	max_height1 = rectangle.height.baseVal.value;
	original_stroke_width = rectangle.style.strokeWidth;
	original_stroke = rectangle.style.stroke;

	var rectangle2 = SVG.getElementById("rect1308-8-4");
	base2 = rectangle2.y.baseVal.value + rectangle2.height.baseVal.value;
	max_height2 = rectangle2.height.baseVal.value;
	
	latest_data = {date:"Vandaag", values:[
	{% localize off %}
	{% for latest_dict in latest %}
	  {id:"{{latest_dict.rectangle_id}}", date:"{{latest_dict.date}}", val:{{latest_dict.value}}, op:{{latest_dict.opacity}}},
	{% endfor %}
	{% endlocalize %}
	]};
  }
  
  function setHeight(id,level) {
    var rectangle = SVG.getElementById(id);
    if (rectangle.style.strokeWidth != "0") {
      var height_percentage = 1+level/1.5;
      var height = height_percentage * max_height1;
      rectangle.y.baseVal.value = base1 - height;
      rectangle.height.baseVal.value = height;
    }
    else {
      var height_percentage = 1+level/(7.0/9.0*1.5);
      var height = height_percentage * max_height2;
      rectangle.y.baseVal.value = base2 - height;
      rectangle.height.baseVal.value = height;
    }
  }
  
  function setURL(id, url) {
	var rectangle = SVG.getElementById(id);
	var a = SVG.createElementNS("http://www.w3.org/2000/svg", "a");
	a.setAttribute("href",url);	
	a.setAttribute("target","_blank");
	rectangle.parentNode.replaceChild(a, rectangle);
	a.appendChild(rectangle);
  }
  
  function setTooltip(id, tooltip) {
	var rectangle = SVG.getElementById(id);
	var title = SVG.createElementNS("http://www.w3.org/2000/svg", "title");
	title.textContent = tooltip;
	rectangle.appendChild(title);
  }
  
  function setOpacity(id, opacity) {
	var rectangle = SVG.getElementById(id);
	if (opacity == 0.0) {
      rectangle.style.fill = "#A8A8A8";
      return;
	}
	rectangle.style.fillOpacity = opacity
  }
  
  function setURLs() {
		{% localize off %}
		{% for latest_dict in latest %}
		  setURL("{{latest_dict.rectangle_id}}","{{latest_dict.url}}");
		{% endfor %}
		{% endlocalize %}
  }
  
  function setValues(data) {
	vals = data.values
    for (i=0; i<vals.length; i++) {
      x = vals[i];
      setTooltip(x.id,x.date);
      setHeight(x.id,x.val);
      setOpacity(x.id,x.op);
    }
  }
  
  function onSVGLoad() {	  
    globals();
    setURLs();
    setValues(latest_data);
	doSomething();
    /*$.ajax({
      method: "GET",
      url: "{% url 'traversehistory' %}",
      dataType: "script"
    });*/
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  function toggleSelected(id) {
    var rectangle = SVG.getElementById(id);
    if (rectangle.style.strokeWidth != "0.5") {
	  rectangle.style.stroke = "#ff0000";
	  rectangle.style.strokeWidth = "0.5";
    }
    else {
      rectangle.style.stroke = original_stroke;
	  rectangle.style.strokeWidth = original_stroke_width;
    }
  }
  
  /* The following code is just for show. */
  
  function doSomething() {
	    var rectangle = SVG.getElementById("rect5178-7-1-8-9-9");
	    rectangle.onclick = function onclick(evt) {toggleSelected("rect5178-7-1-8-9-9");};
	    rectangle.style.cursor = 'pointer';
  }
  
  function test2() {
      setHeight("rect5178-7-1-8-9-9",-1.5*Math.random());
      setHeight("rect5178-7-1-8-9-9-0",-1.5*Math.random());
      setHeight("rect5178-7-1-8-9-9-0-1",-1.5*Math.random());
  }
  
  function test3() {
      var rectangle = SVG.getElementById("rect5178-7-1-8-9-9");
      rectangle.y.baseVal.value -= 1;
      rectangle.height.baseVal.value += 1;
  }
</script> 


















<div class = "container">
  <h2>{{projectlocatie.name}}</h2>
  
  <embed id="includedSVG" src="{% static 'flevoland/svg/Figuur0_website_peilbuizen_dynamisch2.svg' %}" width="100%" type="image/svg+xml" onload="onSVGLoad();"/>

  <button class="btn btn-default btn-lg" onclick="test3()">Back</button>
  <button class="btn btn-default btn-lg" onclick="test2()">Forward</button>

  <hr style='clear: left;'>
  <a href="{% url 'detail1' projectlocatie.id %}" style="margin: 20px">Details1</a>
  <a href="{% url 'detail2' projectlocatie.id %}" style="margin: 20px">Details2</a>
  <hr style='clear: left;'>
</div>

{% endblock content %}
